h1{
    color: brown;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: rgb(245, 240, 240);
    
}


.container{
    align-items: center;
    display: flex;
}

.cardimc{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem;
   color: antiquewhite;
   background-color: #303036;
   border-radius: 10px;
}

input label{
    font-size: 1.1rem;
    color: #f4eded;
    font-weight: 500;
}

input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    color: aliceblue;
    border-radius: 3px;
    margin-top: 3px;
    
}

#Botão{
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    font-size: 20px;
    margin-top: 15px;
    background-color: #9a1c18;
    color:#f2eeee;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#Botão:hover{
    background-color: #f4eded;
    color: #cc2222;
    transition: all 0.5s ease-in-out;
}

#resultado{
    color: #f6f1f1;
    background-color: transparent;
    font-size: 20px;
}